.card {
    max-width: 413px;
}

.card__image {
    height: 413px;
    width: 413px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Poppins, sans-serif;
    font-style: Medium;
    font-size: 20px;
    line-height: 120%;
    font-weight: 500;
}


.card__title {
    max-width: 353px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: clip;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;    
}


.card__like-btn {
    background-image: url(../images/Like\ Icon.png);
    width: 23px;
    height: 20px;
    border: none;
    background-color: transparent;
    opacity: 0.4;
}

.card__like-btn:hover {
    opacity: 1;
    cursor: pointer;
}

@media screen and (max-width: 267px) {
    .card__image {
        width: 228px;
        height: 228px;
    }

    .card__title {
        font-size: 16px;
    }

    .card__like-btn {
        width: 20px;
        height: 18px;
    }
}