.footer {
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

.footer__copyright {
    color: #212121;
    opacity: 70%;
    margin: 0;
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}