.modal {
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity .25s ease, visibility .25s ease;
}

.modal_is-open {
  opacity: 1;
  visibility: visible;
}

.modal__input {
  display: block;
}

.modal__container {
  box-sizing: border-box;
  width: 100%;
  padding: 32px 50px;
  border-radius: 8px;
  background-color: #fff;
  position: relative;
  max-width: 730px;
  transform: scale(0.95);
  opacity: 0;
  transition: transform .25s ease, opacity .25s ease;
}

.modal_is-open .modal__container {
  transform: scale(1);
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  color: #212121;
}

.modal__close-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 32px;
  right: 50px;
  border: none;
  background-color: #fff;
  opacity: 0.4;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Poppins", 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110.00000000000001%;
  color: #212121B2;
}

.modal__input {
  box-sizing: border-box;
  height: 52px;
  border-radius: 8px;
  border: 1px solid #21212166;
  font-family: "Poppins", 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  padding-left: 16px;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__input:hover {
  cursor: pointer;
  opacity: 1;
}

.modal__input::placeholder {
  font-family: "Poppins", 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #2121214D;
}

.modal__submit-btn {
  width: 156px;
  height: 52px;
  background-color: #212121;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #FCF5E5;
  border: none;
}

.modal__submit-btn:hover {
  cursor: pointer; 
  opacity: 0.8;
}

.modal__submit-btn_disabled {
  opacity: 0.5;
}

.modal__image-containor {
  position: relative;
}

.modal__imgage-btn {
  background-image: url(../images/imgaeClose.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-style: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  opacity: 0.4;
  position: absolute;
  top: 0;
  right: -52.5px;
}

.modal__imgage-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.modal_image_type {
  padding: 0 16px;
}

.modal__caption {
  margin: 8px 0 0;
  padding: 4px 8px;
  background: #212121;
  color: #fff;
  display: inline-block;
  align-self: flex-start;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}

.modal__error {
  color: #FF0000B2;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110.00000000000001%;
}

@media screen and (max-width: 627px) {
  .modal__title {
    font-size: 20px;
    padding: 6px 0px;
  }
  .modal__form {
    gap: 24px;
  }
  .modal__label {
    font-size: 16px;
  }
  .modal__submit-btn {
    width: 100%;
  }
  .modal__input {
    font-size: 16px;
  }
  .modal__input::placeholder {
    font-size: 16px;
  }
  .modal__container {
    padding: 12px 12px;
  }
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
  .modal__imgage-btn {
    right: 0;
    top: -40px;
  }
  .modal__caption {
    font-size: 16px;
  }
  .modal__image {
    max-width: unset;
  }
}
